<!-- WhatsApp Button (grün und fett) -->
<a href="https://wa.me/4915224935608?text=Hallo%20Meister%20Mizel%2C%20ich%20brauche%20einen%20Angebot%21"
    class="btn btn-success btn-lg px-5 shadow" target="_blank">
    <i class="icon-phone"></i> &nbsp; Jetzt kostenloses Angebot anfragen
</a>