<section class="content-section bg-light bt-orange splash-container splash-container-red">
    <div class="container px-4 px-lg-5 text-center">
        <div>


            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th align="left">Name</th>
                        <th align="left">Hex</th>
                        <th align="left">RGB</th>
                        <th align="left">Color</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="left">COLOR_FIRST</td>
                        <td align="left">#003366</td>
                        <td align="left">rgb(0,51,102)</td>
                        <td align="left"><span
                                style="background-color:#003366;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_SECOND</td>
                        <td align="left">#336633</td>
                        <td align="left">rgb(51,102,51)</td>
                        <td align="left"><span
                                style="background-color:#336633;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_THIRD</td>
                        <td align="left">#ff9900</td>
                        <td align="left">rgb(256,153,00)</td>
                        <td align="left"><span
                                style="background-color:rgb(255, 153, 0);border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_BG_LIGHT</td>
                        <td align="left">#f8f9fa</td>
                        <td align="left">rgb(248,249,250)</td>
                        <td align="left"><span
                                style="background-color:#f8f9fa;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_BG_PRIMARY</td>
                        <td align="left">#1d809f</td>
                        <td align="left">rgb(29,128,159)</td>
                        <td align="left"><span
                                style="background-color:#1d809f;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_WHATSAPP</td>
                        <td align="left">#198754</td>
                        <td align="left">rgb(25,135,84)</td>
                        <td align="left"><span
                                style="background-color:rgb(25, 135, 84);border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_RED</td>
                        <td align="left">#d9341e</td>
                        <td align="left">rgb(217,52,30)</td>
                        <td align="left"><span
                                style="background-color:#d9341e;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_PINK</td>
                        <td align="left">#e22a7f</td>
                        <td align="left">rgb(226,42,127)</td>
                        <td align="left"><span
                                style="background-color:#e22a7f;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_PINK</td>
                        <td align="left">#e22a7f</td>
                        <td align="left">rgb(226,42,127)</td>
                        <td align="left"><span
                                style="background-color:#e22a7f;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_VIOLET</td>
                        <td align="left">#970097</td>
                        <td align="left">rgb(151,0,151)</td>
                        <td align="left"><span
                                style="background-color:#970097;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_CYAN</td>
                        <td align="left">#29bfce</td>
                        <td align="left">rgb(41,191,206)</td>
                        <td align="left"><span
                                style="background-color:#29bfce;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_CYAN</td>
                        <td align="left">#fecb2c</td>
                        <td align="left">rgb(254,203,44)</td>
                        <td align="left"><span
                                style="background-color:#fecb2c;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>                    
                    
                </tbody>
            </table>


            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th align="left">Name</th>
                        <th align="left">Hex</th>
                        <th align="left">RGB</th>
                        <th align="left">Color</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="left">COLOR_00</td>
                        <td align="left">#3366cc</td>
                        <td align="left">rgb(51,102,204)</td>
                        <td align="left"><span
                                style="background-color:#3366cc;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_01</td>
                        <td align="left">#dc3912</td>
                        <td align="left">rgb(220,57,18)</td>
                        <td align="left"><span
                                style="background-color:#dc3912;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_02</td>
                        <td align="left">#ff9900</td>
                        <td align="left">rgb(255,153,0)</td>
                        <td align="left"><span
                                style="background-color:#ff9900;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_03</td>
                        <td align="left">#109618</td>
                        <td align="left">rgb(16,150,24)</td>
                        <td align="left"><span
                                style="background-color:#109618;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_04</td>
                        <td align="left">#990099</td>
                        <td align="left">rgb(153,0,153)</td>
                        <td align="left"><span
                                style="background-color:#990099;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_05</td>
                        <td align="left">#0099c6</td>
                        <td align="left">rgb(0,153,198)</td>
                        <td align="left"><span
                                style="background-color:#0099c6;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_06</td>
                        <td align="left">#dd4477</td>
                        <td align="left">rgb(221,68,119)</td>
                        <td align="left"><span
                                style="background-color:#dd4477;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_07</td>
                        <td align="left">#66aa00</td>
                        <td align="left">rgb(102,170,0)</td>
                        <td align="left"><span
                                style="background-color:#66aa00;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_08</td>
                        <td align="left">#b82e2e</td>
                        <td align="left">rgb(184,46,46)</td>
                        <td align="left"><span
                                style="background-color:#b82e2e;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_09</td>
                        <td align="left">#316395</td>
                        <td align="left">rgb(49,99,149)</td>
                        <td align="left"><span
                                style="background-color:#316395;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_10</td>
                        <td align="left">#994499</td>
                        <td align="left">rgb(153,68,153)</td>
                        <td align="left"><span
                                style="background-color:#994499;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_11</td>
                        <td align="left">#22aa99</td>
                        <td align="left">rgb(34,170,153)</td>
                        <td align="left"><span
                                style="background-color:#22aa99;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_12</td>
                        <td align="left">#aaaa11</td>
                        <td align="left">rgb(170,170,17)</td>
                        <td align="left"><span
                                style="background-color:#aaaa11;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_13</td>
                        <td align="left">#6633cc</td>
                        <td align="left">rgb(102,51,204)</td>
                        <td align="left"><span
                                style="background-color:#6633cc;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_14</td>
                        <td align="left">#e67300</td>
                        <td align="left">rgb(230,115,0)</td>
                        <td align="left"><span
                                style="background-color:#e67300;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_15</td>
                        <td align="left">#8b0707</td>
                        <td align="left">rgb(139,7,7)</td>
                        <td align="left"><span
                                style="background-color:#8b0707;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_16</td>
                        <td align="left">#651067</td>
                        <td align="left">rgb(101,16,103)</td>
                        <td align="left"><span
                                style="background-color:#651067;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_17</td>
                        <td align="left">#329262</td>
                        <td align="left">rgb(50,146,98)</td>
                        <td align="left"><span
                                style="background-color:#329262;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_18</td>
                        <td align="left">#5574a6</td>
                        <td align="left">rgb(85,116,166)</td>
                        <td align="left"><span
                                style="background-color:#5574a6;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_19</td>
                        <td align="left">#3b3eac</td>
                        <td align="left">rgb(59,62,172)</td>
                        <td align="left"><span
                                style="background-color:#3b3eac;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_20</td>
                        <td align="left">#b77322</td>
                        <td align="left">rgb(183,115,34)</td>
                        <td align="left"><span
                                style="background-color:#b77322;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_21</td>
                        <td align="left">#16d620</td>
                        <td align="left">rgb(22,214,32)</td>
                        <td align="left"><span
                                style="background-color:#16d620;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_22</td>
                        <td align="left">#b91383</td>
                        <td align="left">rgb(185,19,131)</td>
                        <td align="left"><span
                                style="background-color:#b91383;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_23</td>
                        <td align="left">#f4359e</td>
                        <td align="left">rgb(244,53,158)</td>
                        <td align="left"><span
                                style="background-color:#f4359e;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_24</td>
                        <td align="left">#9c5935</td>
                        <td align="left">rgb(156,89,53)</td>
                        <td align="left"><span
                                style="background-color:#9c5935;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_25</td>
                        <td align="left">#a9c413</td>
                        <td align="left">rgb(169,196,19)</td>
                        <td align="left"><span
                                style="background-color:#a9c413;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_26</td>
                        <td align="left">#2a778d</td>
                        <td align="left">rgb(42,119,141)</td>
                        <td align="left"><span
                                style="background-color:#2a778d;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_27</td>
                        <td align="left">#668d1c</td>
                        <td align="left">rgb(102,141,28)</td>
                        <td align="left"><span
                                style="background-color:#668d1c;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_28</td>
                        <td align="left">#bea413</td>
                        <td align="left">rgb(190,164,19)</td>
                        <td align="left"><span
                                style="background-color:#bea413;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_29</td>
                        <td align="left">#0c5922</td>
                        <td align="left">rgb(12,89,34)</td>
                        <td align="left"><span
                                style="background-color:#0c5922;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">COLOR_30</td>
                        <td align="left">#743411</td>
                        <td align="left">rgb(116,52,17)</td>
                        <td align="left"><span
                                style="background-color:#743411;border:1px solid">&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;<!-- -->&nbsp;</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>